@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-animation {
  padding: 2px 2px 0px 2px;
}

.border-animation::after,
.border-animation::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  inset: 0;
  background: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgba(127, 0, 255, 0.5)
  );
  border-radius: 9999px;
  animation: borderMove 3s linear infinite;
}

.border-animation::before {
  filter: blur(2rem);
  opacity: 0.2;
}

@keyframes borderMove {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.grid-background::before {
  content: "";
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 30%;
  top: 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px);
  background-size: 20px 20px;
}

.scroll-content-left {
  animation: scroll 30s linear infinite;
}

.scroll-content-right {
  animation: scroll 30s linear infinite reverse;
}

.scroll-content-left:hover,
.scroll-content-right:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.videoContainer {
  perspective: 1200px;
}

.tiltedAnimation {
  animation: tiltedAnimation both;
  animation-timeline: view(75% 5%);
}

.tilt {
  transform: rotateX(45deg) scale(1.2);
}

@keyframes tiltedAnimation {
  from {
    transform: rotateX(45deg) scale(1.2);
  }
  to {
    transform: rotateX(0deg) scale(1);
    box-shadow: 0px 0px 200px 3px rgba(127, 0, 255, 0.3);
  }
}

/* CSS generarator */
.wavy-background {
  mask: radial-gradient(
        45.1px at calc(100% + 33px) 50%,
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      calc(50% - 15.5px + 0.5px) calc(50% - 60px) / 31px 120px,
    radial-gradient(
        45.1px at -33px 50%,
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      calc(50% + 15.5px) 50%/31px 120px;
  background: rgba(127, 0, 255, 0.3);
  animation: wavy-random 3s infinite alternate linear;
}

/* chatgpt generated */
@keyframes wavy-random {
  0% {
    mask-size: 31px 120px, 31px 120px;
    -webkit-mask-size: 31px 120px, 31px 120px;
    mask-position: calc(50% - 15.5px + 0.5px) calc(50% - 60px),
      calc(50% + 15.5px) 50%;
    -webkit-mask-position: calc(50% - 15.5px + 0.5px) calc(50% - 60px),
      calc(50% + 15.5px) 50%;
    background: rgba(127, 0, 255, 0.3);
  }
  50% {
    mask-size: 33px 125px, 33px 125px;
    -webkit-mask-size: 33px 125px, 33px 125px;
    mask-position: calc(50% - 20px) calc(50% - 65px), calc(50% + 20px) 50%;
    -webkit-mask-position: calc(50% - 20px) calc(50% - 65px),
      calc(50% + 20px) 50%;
    background: rgba(127, 0, 255, 0.1);
  }
  100% {
    mask-size: 31px 120px, 31px 120px;
    -webkit-mask-size: 31px 120px, 31px 120px;
    mask-position: calc(50% - 15.5px + 0.5px) calc(50% - 60px),
      calc(50% + 15.5px) 50%;
    -webkit-mask-position: calc(50% - 15.5px + 0.5px) calc(50% - 60px),
      calc(50% + 15.5px) 50%;
    background: rgba(127, 0, 255, 0.5);
  }
}

.pop-animation {
  animation: blur-animation both;
  animation-timeline: view(70% auto);
}

@keyframes blur-animation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
