@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;
  --primary: 127, 0, 255;
}

* {
  cursor: url("cursor.png"), auto;
}

button,
a {
  cursor: url("cursor_pointer.png"), auto;
}
